.product-details-container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.product-images-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.product-images-grid img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 0.5rem;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.product-info h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.product-info p {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #555;
}

#desc{
    width: 100%;
    text-align: left;
    line-height: 30px;
}

.product-info p strong {
    color: #222;
}

.loading {
    text-align: center;
    padding: 4rem 0;
    color: #666;
}

.loader {
    margin: 0 auto 1rem auto;
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.editProduct-btn{
    padding: 0.5rem 2rem;
        border: none;
        border-radius: 6px;
        font-weight: 500;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        transition: all 0.2s ease;
        cursor: pointer;
        margin-bottom: 20px;
        background: linear-gradient(135deg, #0e52b0 0%, #535e50 100%);
            color: #FFF7ED;
}



.editProduct-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-input {
    padding: 0.75rem;
    border: 2px solid #f5dfc4;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f9f0e7;
    color: #252525;
    transition: all 0.2s ease;
    font-family: inherit;
    font-weight: bold;
}

.product-input:focus {
    outline: none;
    border-color: #8b7355;
    box-shadow: 0 0 0 3px rgba(139, 115, 85, 0.1);
}

.product-input-small {
    padding: 0.75rem;
    border: 2px solid #f5dfc4;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f9f0e7;
    color: #252525;
    transition: all 0.2s ease;
    font-family: inherit;
    
}

.product-input-small:focus {
    outline: none;
    border-color: #8b7355;
    box-shadow: 0 0 0 3px rgba(139, 115, 85, 0.1);
}

.pd-total-section {
    margin-top: 2rem;
    padding: 1rem;
    border-top: 2px solid #ddd;
    text-align: right;
}

.pd-total-amount {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}