/* styles/SearchBar.css */
.search-bar {
    margin: 1.5rem 0;
    text-align: center;
}

.search-input {
    padding: 0.6rem 1rem;
    width: 80%;
    max-width: 700px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f9fa;
    /* lighter background */
    color: #333;
    outline: none;
    transition: border 0.3s, background-color 0.3s;
}

.search-input:focus {
    border-color: #007bff;
    background-color: #fff;
}